h1 {
    color: #999;

}

.site-footer {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    padding-top: 5px;
    width: 100%;
    font-size: 13px;
    color: #999;
}